header {
    background-color: #ABAB85;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    border-color: gray;
    border-bottom-style: solid;
}

.logo {
    max-width: 150px; /* Ancho máximo para el contenedor del logo */
}

.logo img {
    width: 100%; /* La imagen del logo ocupará el 100% del ancho del contenedor */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px; /* Espacio entre los elementos de navegación */
}

nav ul li:last-child {
    margin-right: 0; /* Quitamos el margen derecho del último elemento */
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}
        #productos {
    text-align: center; /* Para centrar los elementos */
}

#productos h2 {
    margin-top: 0;
    color: #333;
}

.producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

.producto-item {
    flex: 0 0 calc(20% - 40px); /* 20% de ancho para mostrar 5 productos por fila con margen */
    margin: 20px;
    border: 1px solid #ddd; /* Agrega un borde de 1px sólido con color gris claro */
    padding: 10px; /* Añade un relleno alrededor del contenido */
    border-radius: 5px; /* Agrega esquinas redondeadas */
}

.producto-item img {
    width: 100%; /* Para que la imagen ocupe todo el espacio disponible */
    height: auto; /* Mantener la proporción de la imagen */
}
        /*Estilos del Footer*/
        footer {
            background-color: #d4dc37;
            text-align: center;
            padding: 20px 0;
            color: white;
            margin-top: 200px; /* Se asegura de que el footer esté pegado al fondo */
            margin-bottom: 0;
            border-radius: 30px;
        }
        .texto1 {
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .subtitulos {
            color: black;
        }
        .contenedor-img {
            display: inline-block;
            margin: 0;
        }
        .img-redes {
            width: 55px;
            height: 50px;
            margin-left: 20px;
        }