{% load static %}
<!-- templates/footer.html -->
<footer>
    <img src="{% static 'jpg/logo-principal.png' %}" alt="Imagen representativa">
    <p class="texto1">
        <a href="#">Subir una receta</a><br>
        <a href="#">Registrarte</a><br>
        <a href="#">Descarga la app</a>
    </p>
    <h5 class="subtitulos">Nuestras redes</h5>
    <div class="contenedor-img">
        <a href="#">
            <img class="img-redes" src="{% static 'jpg/facebook.png' %}" alt="Facebook">
        </a>
        <a href="#">
            <img class="img-redes" src="{% static 'jpg/instagram.png' %}" alt="Instagram">
        </a>
        <a href="#">
            <img class="img-redes" src="{% static 'jpg/youtube.png' %}" alt="YouTube">
        </a>
    </div>
    <p class="texto3">
        <a href="#">Quiénes somos</a> |
        <a href="#">Contacta con nosotros</a> |
        <a href="#">Términos y condiciones</a> |
        <a href="#">Política de privacidad</a> |
        <a href="#">Política de cookies</a>
    </p>
</footer>
